<app-dialog [title]="'IMAGE.DIALOG.TITLE' | translate" *ngIf="showDialog">
  <form class="flex flex-col gap-2 min-w-[300px]" [formGroup]="formGroup">
    <div class="flex flex-col gap-1">
      <label for="title">{{'IMAGE.DIALOG.FORM.TITLE' | translate}}</label>
      <input id="title" type="text"
             [placeholder]="'IMAGE.DIALOG.FORM.TITLE_PLACEHOLDER' | translate" formControlName="title">
    </div>
    <p class="text-xs">{{'IMAGE.DIALOG.FORM.UPLOAD_HINT' | translate}}</p>
    <div class="flex justify-center dark:bg-slate-800 cursor-pointer py-3" (click)="fileInput.click()">
      <arrow-up-tray-solid-icon *ngIf="!image"></arrow-up-tray-solid-icon>
      <img [src]="image" *ngIf="image" alt="Uploaded image">
      <input #fileInput type="file" [accept]="'image/jpeg, image/png, image/svg+xml, image/gif'"
             [hidden]="true" (change)="handleImageUpload($event)">
    </div>
    <div class="flex flex-col gap-1">
      <label for="url">{{'IMAGE.DIALOG.FORM.URL' | translate}}</label>
      <input id="url" type="text" [placeholder]="'IMAGE.DIALOG.FORM.URL_PLACEHOLDER' | translate" formControlName="url">
    </div>
  </form>
  <div class="flex gap-2 mt-8">
    <button
      [disabled]="formGroup.invalid"
      class="bg-blue-400/80 hover:bg-blue-500/80 dark:bg-blue-500 dark:hover:bg-blue-600 px-2 py-1 rounded-sm disabled:bg-gray-300 disabled:text-gray-400 dark:disabled:bg-gray-500 dark:disabled:text-gray-400"
      (click)="saveImage()">{{'IMAGE.DIALOG.SAVE' | translate}}</button>
    <button
      class="bg-red-400 hover:bg-red-500 dark:bg-red-500 dark:hover:bg-red-600 px-2 py-1 rounded-sm"
      (click)="closed.emit()">{{'IMAGE.DIALOG.CLOSE' | translate}}</button>
  </div>
</app-dialog>
